# --- Base ---
flask
flask-cors
python-dotenv
gunicorn

# --- Langchain ---
langchain
langchain-core
langchain-groq

# --- Modules nécessaires pour lead_graph.py ---
langchain-google-community
langchain-huggingface
langchain-community
pydantic

# --- Embeddings ---
faiss-cpu





